[Unit]
Description=Buildservice simple CICD
StartLimitInterval=200
StartLimitBurst=5

[Service]
User=buildservice
Environment=GOPATH=/home/buildservice/golang PATH=/home/buildservice/bin:/home/buildservice/golang/bin:/opt/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Restart=on-failure
RestartSec=30
WorkingDirectory=/home/buildservice
ExecStart=/home/buildservice/bin/buildservice

[Install]
WantedBy=multi-user.target
